<h1>Редактировать {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса" required=""></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" min="1" data-error="Введите цену курса" required=""></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{course.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки" required=""></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button type="submit" class="btn btn-primary">Обновить курс</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course.id}}">
    <button type="submit" class="btn red">Удалить курс</button>
</form>